<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>socgenappb3-snapshots</id>
      <username>socgenb3user</username>
      <password>socgenb3user</password>
    </server>
    <server>
      <id>socgenappb3-releases</id>
      <usernam>socgenb3user</username>
      <password>socgenb3user</password>
    </server>
  </servers>
</settings>